<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d50059.12775918716!2d72.78534673554945!3d21.16564923510817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1533793756956"   allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact </h6>
                            </div>
                            <div class="media-body">
                                <p>+216.99.180.171</p>
                                <p></p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Addresse</h6>
                            </div>
                            <div class="media-body">
                                <p>Tunisie</p>
                                <p>Sousse - 4023</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Email</h6>
                            </div>
                            <div class="media-body">
                                <p>apoyogroupe@gmail.com</p>
                                <p></p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <h6>Facebook</h6>
                            </div>
                            <div class="media-body">
                                <p>Apoyo</p>
                                <p></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">Nom</label>
                            <input type="text" class="form-control" id="name" placeholder="Nom" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="name">Prénom</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Prenom" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Téléphone</label>
                            <input type="text" class="form-control" id="review" placeholder="telephone" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Ecrire votre message</label>
                            <textarea class="form-control" placeholder="votre message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->